$em-base: 18px;

// Font sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$visual-grid: false;

// Colors
$border_gray: #d4d4d4;
$body_copy: #505050;
$red: #ce3927;
$gray: #505050;
