// COLORS
$border_gray: #d4d4d4;
$body_copy: #505050;

$red: #ce3927;
$gray: #505050;

$page-width: 1000px;
$page-padding: 20px;

$futura_name: 'futurastd_book-webfont';

$post-content-spacing: 30px;
