%header#site-header
  .main-head.wrapper
    %h1 CSS3 Factory
#page-wrapper
  #content-wrapper.wrapper
    %p.coming-soon Currently being manufactured – check back soon
    %img.factory-logo{height: "200", src: "/images/logo-200x200.png", width: "200"}/
    %p.meantime
      In the meantime
      %a{href: "/linear-gradients"} check out the CSS3 gradient generator.
  #sub-content.wrapper
    %p
      The CSS3 Factory is a new project spun off from the the success and popularity of the
      = succeed "." do
        %a{href: "/linear-gradients", target: "_blank"} CSS3 Gradient Generator
    .gradient-generator
      %img{src: "/images/icon-gradient_generator.png"}/
      .generator-wrapper
        %p
          %em check it out
        %p
          %a.alt-anchor{href: "/linear-gradients"} CSS3 Gradient Generator
